* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  justify-content: space-between;
}
input {
  border: none;
}
input:focus {
  outline: none;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.input-field {
  padding-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 500px;
  border-bottom: 2px solid blue;
}
.input-field > li {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgb(232, 232, 232);
}
.input-field > li > small {
  background-color: white;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
}
.add-users {
  position: relative;
  display: flex;
}

/* modal */
.modal {
  position: absolute;
  width: max-content;
  top: 30px;

  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: max-content;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 4px 5px 5px 2px rgb(193, 193, 193);
}
.modal > li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.modal > li > span:nth-child(2) {
  color: gray;
}

.modal > li:hover {
  background-color: rgb(233, 233, 233);
}
li > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.input-field > .highlight {
  background-color: rgb(96, 96, 246);
  color: white;
}
.input-field > .highlight > small {
  color: rgb(96, 96, 246);
}
